*{
  margin: 0;
  padding:0;
}
.hello {
	background: linear-gradient(60deg, red, blue, green);
	color: black;
	font-size: 50px;
	font-weight: bold;
	text-align: center;
	padding: 20px 0;
	text-shadow: 0 0 12px white;
	border-bottom: 10px solid navy;
	border-top: 10px solid red;
	box-shadow: inset 0px 0px 12px 9px black;
} 
